# World & Region Construction

### Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import curve_fit

### Region

In [37]:
class Region:
    
    def __init__(self,inputs):
        self.inputs = inputs

### World

In [148]:
class World:
    
    def __init__(self,regions,inputs):
        
        #load parameters
        self.regions = regions
        self.inputs = inputs
        self.years = inputs['historical_years'] + inputs['prediction_years']
        
        #read raw data
        self.read_population()
        self.read_GDP()
        self.read_SDG()
        
        #create regions
        self.create_regions()
        
    ### READ RAW DATA SECTION
    def read_population(self):
        self.population = pd.read_csv(inputs['route']+inputs['population'])
        
    def read_GDP(self):
        self.GDP = pd.read_csv(inputs['route']+inputs['GDP'])
        
    def read_SDG(self):
        self.SDG = pd.read_csv(inputs['route']+inputs['SDG'])
        
    ### CREATE REGIONS SECTION
    def region_population(self,region_name):
        pop = self.population[self.population['Region'] == region_name].reset_index(drop=True)
        pop = pop[self.years]
        return pop
    
    def region_GDP(self,region_name):
        gdp = self.GDP[self.GDP['Region'] == region_name].reset_index(drop=True)
        gdp = gdp[self.years]
        return gdp
    
    def region_SDG(self,region_name):
        sdg = self.SDG[self.SDG['Region'] == region_name].reset_index(drop=True)
        sdg = sdg[self.years+['SDG']]
        sdg['SDG'] = sdg['SDG'].astype('int')
        sdg = sdg.set_index('SDG')
        return sdg
    
    def create_regions(self):
        
        for region in self.regions.values():
            region_name = region['region']
            region_abreviation = region['abreviation']
            
            #subset of regional information
            region_population = self.region_population(region_name)
            region_GDP = self.region_GDP(region_name)
            region_SDG = self.region_SDG(region_name)
            
            #add values to region dictionary
            region['population'] = region_population
            region['GDP'] = region_GDP
            region['SDG'] = region_SDG
            
            #region initialization
            region['instance'] = Region(region)

World inputs used in E3 model:

In [149]:
world_regions = {
    
    'region1': {
        'region': 'United States',
        'abreviation': 'USA',
        'members': []
    },
    
    'region2': {
        'region': 'Other Rich Countries',
        'abreviation': 'ORC',
        'members': []
    },
    
    'region3': {
        'region': 'Emerging Economies',
        'abreviation': 'EE',
        'members': []
    },
    
    'region4': {
        'region': 'China',
        'abreviation': 'China',
        'members': []
    },
    
    'region5': {
        'region': 'Indian Subcontinent',
        'abreviation': 'India',
        'members': []
    },
    
    'region6': {
        'region': 'Africa South of Sahara',
        'abreviation': 'ASoS',
        'members': []
    },
    
    'region7': {
        'region': 'Rest of World',
        'abreviation': 'RoW',
        'members': []
    }
    
}

INPUTS to access data

In [156]:
world_inputs = {
    'route': '../raw_data/',
    'population': 'Population.csv',
    'GDP': 'GDPpp.csv',
    'SDG': 'SDG1-7.csv',
    'historical_years': ['1980','1985','1990','1995','2000','2005','2010','2015'],
    'prediction_years': ['2020','2025','2030','2035','2040','2045','2050']
}

### APP

In [157]:
def main():
    world = World(world_regions,world_inputs)

if __name__ == '__main__':
    main()

In [152]:
world = World(world_regions,inputs)

In [137]:
world.population

,Region,1980,1985,1990,1995,2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
0,United States,233,244,256,270,286,299,313,324,329,333,335,336,337,337,335
1,Other Rich Countries,641,658,674,691,704,720,736,748,750,750,749,744,738,728,714
2,China,1017,1096,1199,1268,1312,1352,1390,1428,1460,1483,1496,1498,1489,1466,1431
3,Emerging Economies,603,658,711,751,786,818,852,890,916,936,950,959,963,962,957
4,Indian Subcontinent,856,967,1084,1202,1323,1441,1554,1660,1762,1857,1939,2004,2051,2077,2084
5,Africa South of Sahara,284,328,378,439,500,570,652,746,828,906,980,1048,1108,1160,1202
6,Rest of World,810,906,1008,1106,1205,1308,1418,1539,1646,1739,1816,1876,1922,1953,1973

In [138]:
world.GDP

,Region,1980,1985,1990,1995,2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
0,United States,27.351715,29.335090,33.994440,36.619197,42.372128,47.043068,49.062768,49.350465,49.742955,50.211717,50.734671,51.294687,51.878494,52.475859,53.078945
1,Other Rich Countries,16.244633,16.803550,20.480301,24.154262,28.327163,31.073882,34.168039,35.817183,37.442064,39.022346,40.543422,41.995692,43.373740,44.675492,45.901427
2,China,1.605271,2.053859,2.583165,3.306449,4.316882,5.890360,8.749859,11.369707,14.471868,18.010351,21.881334,25.938388,30.019380,33.974404,37.685754
3,Emerging Economies,4.125767,4.338181,9.671323,9.316431,9.019540,10.134587,14.107565,16.634089,19.443921,22.463829,25.603012,28.765365,31.861745,34.819145,37.585329
4,Indian Subcontinent,1.243175,1.125725,1.259638,1.485741,1.828265,2.241556,3.304625,4.331546,5.612334,7.205065,9.165889,11.535621,14.324012,17.497428,20.976245
5,Africa South of Sahara,3.386362,3.047015,1.940107,1.621212,1.655388,2.071162,2.993080,3.423746,4.004372,4.763725,5.739614,6.976597,8.521369,10.414867,12.681394
6,Rest of World,2.337560,2.554112,3.362027,3.418557,3.840009,4.126970,5.591882,6.977245,8.690803,10.775651,13.252684,16.108473,19.289044,22.703454,26.236931

In [139]:
world.SDG

,SDG,Region,Abreviation,Functional form,Sc1a,Sc1b,Sc1c,Sc1d,1980,1985,...,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
0,1.0,United States,US,y=b*EXP(-x/c),0.0,100.00,6.200,0.0,0.70000,0.88135,...,2.00000,2.00000,2.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Other Rich Countries,ORC,y=b*EXP(-x/c),0.0,100.00,4.000,0.0,1.72291,0.81343,...,0.52050,0.33654,0.38514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,China,China,y=b*EXP(-x/c),0.0,140.00,3.600,0.0,89.63393,79.13268,...,25.40000,12.95000,5.43333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,Emerging Economies,EE,y=b*EXP(-x/c),0.0,100.00,3.000,0.0,25.27750,17.87430,...,5.28140,2.81891,1.71643,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,Indian Subcontinent,India,y=b*EXP(-x/c),0.0,100.00,2.000,0.0,53.70910,52.05170,...,35.00385,27.62665,19.40532,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,Africa South of Sahara,ASoS,y=b*EXP(-x/c),0.0,100.00,3.200,0.0,34.70668,41.10578,...,52.28370,42.54003,44.17450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.0,Rest of World,RoW-120,y=b*EXP(-x/c),0.0,100.00,3.400,0.0,50.28228,47.17956,...,25.10576,17.98693,10.15964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,United States,US,y=a+b*EXP(-x/c),2.5,32.50,4.700,0.0,2.59649,2.56327,...,2.50000,2.50000,2.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2.0,Other Rich Countries,ORC,y=a+b*EXP(-x/c),2.5,32.50,4.700,0.0,3.52525,3.41030,...,2.55349,2.53425,2.52450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2.0,China,China,y=a+b*EXP(-x/c),2.5,32.50,6.700,0.0,28.07582,26.41950,...,15.64000,13.44000,10.38000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2.0,Emerging Economies,EE,y=a+b*EXP(-x/c),2.5,32.50,4.700,0.0,16.00983,15.41285,...,6.00452,4.06003,3.77347,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2.0,Indian Subcontinent,India,y=a+b*EXP(-x/c),2.5,32.50,3.800,0.0,25.93167,26.66721,...,20.36667,17.30462,15.84746,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2.0,Africa South of Sahara,ASoS,y=a+b*EXP(-x/c),2.5,32.50,4.700,0.0,18.31150,19.49534,...,23.28327,19.44306,18.44564,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2.0,Rest of World,RoW-120,y=a+b*EXP(-x/c),2.5,32.50,6.000,0.0,24.51330,23.73296,...,18.50761,15.31248,12.40177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3.0,United States,US,y=(a+b*(time – 1965) )*( 1 – c * EXP(-x / d)),71.0,0.18,0.014,230.0,73.25479,74.37080,...,77.16614,78.15951,78.88216,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3.0,Other Rich Countries,ORC,y=(a+b*(time – 1965) )*( 1 – c * EXP(-x / d)),71.0,0.18,0.150,5.4,72.84319,74.18376,...,79.09100,80.32121,81.34664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3.0,China,China,y=(a+b*(time – 1965) )*( 1 – c * EXP(-x / d)),71.0,0.18,0.130,9.5,65.63953,67.86498,...,73.21297,74.78211,75.77045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3.0,Emerging Economies,EE,y=(a+b*(time – 1965) )*( 1 – c * EXP(-x / d)),71.0,0.18,0.150,28.0,64.60675,65.26759,...,70.40722,72.04708,73.97032,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3.0,Indian Subcontinent,India,y=(a+b*(time – 1965) )*( 1 – c * EXP(-x / d)),71.0,0.18,0.240,9.8,52.82844,55.13052,...,63.83517,65.78467,67.74635,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3.0,Africa South of Sahara,ASoS,y=(a+b*(time – 1965) )*( 1 – c * EXP(-x / d)),71.0,0.18,0.370,9.7,47.77346,48.81980,...,51.16412,54.84163,58.40222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3.0,Rest of World,RoW-120,y=(a+b*(time – 1965) )*( 1 – c * EXP(-x / d)),71.0,0.18,0.370,9.7,47.55624,51.29097,...,59.41729,62.65361,65.58856,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4.0,United States,US,y=a-b*EXP(-x/c),18.0,12.00,25.000,0.0,13.29787,14.36827,...,15.82104,16.32739,16.59766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4.0,Other Rich Countries,ORC,y=a-b*EXP(-x/c),18.0,12.00,20.000,0.0,12.44733,12.74446,...,15.75878,16.00534,16.61755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4.0,China,China,y=a-b*EXP(-x/c),18.0,12.00,12.000,0.0,8.63100,7.87505,...,9.93458,12.15754,13.54093,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4.0,Emerging Economies,EE,y=a-b*EXP(-x/c),18.0,12.00,13.000,0.0,9.92868,10.84198,...,13.12100,13.53166,14.67256,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,4.0,Indian Subcontinent,India,y=a-b*EXP(-x/c),18.0,12.00,13.000,0.0,5.95349,6.67576,...,8.38629,9.93660,11.04746,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,4.0,Africa South of Sahara,ASoS,y=a-b*EXP(-x/c),18.0,12.00,22.000,0.0,6.10443,6.86069,...,7.88045,8.62721,9.32313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4.0,Rest of World,RoW-120,y=a-b*EXP(-x/c),18.0,12.00,19.000,0.0,6.52627,6.87379,...,7.57454,7.65439,8.41580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5.0,United States,US,y=a-b*EXP(-x/c),1.1,0.40,14.000,0.0,1.04330,1.04093,...,1.09108,1.10513,1.10486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,5.0,Other Rich Countries,ORC,y=a-b*EXP(-x/c),1.1,0.40,18.000,0.0,0.94074,0.95937,...,1.01814,1.02302,1.02088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,5.0,China,China,y=a-b*EXP(-x/c),1.1,0.40,6.000,0.0,0.81150,0.83768,...,0.95710,0.99624,1.01337,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,5.0,Emerging Economies,EE,y=a-b*EXP(-x/c),1.1,0.40,8.800,0.0,0.81895,0.87957,...,1.01795,1.04571,1.03961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,5.0,Indian Subcontinent,India,y=a-b*EXP(-x/c),1.1,0.40,7.600,0.0,0.56432,0.60621,...,0.84816,0.93500,0.99270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,5.0,Africa South of Sahara,ASoS,y=a-b*EXP(-x/c),1.1,0.40,7.400,0.0,0.72970,0.74518,...,0.83272,0.87060,0.89592,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5.0,Rest of World,RoW-120,y=a-b*EXP(-x/c),1.1,0.40,7.200,0.0,0.81089,0.81946,...,0.91071,0.89619,0.92656,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,6.0,United States,US,y=a-b*EXP(-x/c),100.0,11.00,13.000,0.0,98.65833,98.84817,...,99.14818,99.16392,99.18994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,6.0,Other Rich Countries,ORC,y=a-b*EXP(-x/c),100.0,11.00,13.000,0.0,96.84715,96.97983,...,99.37808,99.47603,99.57958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,6.0,China,China,y=a-b*EXP(-x/c),100.0,11.00,13.000,0.0,90.27779,90.60755,...,97.91026,96.91868,95.92711,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,6.0,Emerging Economies,EE,y=a-b*EXP(-x/c),100.0,11.00,13.000,0.0,91.99130,92.12109,...,94.97388,96.01216,96.99075,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,6.0,Indian Subcontinent,India,y=a-b*EXP(-x/c),100.0,22.00,7.200,0.0,81.48874,81.18430,...,83.96955,85.96828,87.88048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,6.0,Africa South of Sahara,ASoS,y=a-b*EXP(-x/c),100.0,71.00,8.000,0.0,53.50314,51.48840,...,44.99365,49.80725,54.68359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,6.0,Rest of World,RoW-120,y=a-b*EXP(-x/c),100.0,71.00,8.000,0.0,46.98977,48.40546,...,57.25873,72.59363,81.58033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,7.0,United States,US,y=a-b*EXP(-x/c),100.0,25.00,3.000,0.0,99.99726,99.99858,...,100.00000,100.00000,100.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,7.0,Other Rich Countries,ORC,y=a-b*EXP(-x/c),100.0,25.00,3.000,0.0,99.88875,99.90766,...,99.95605,99.98545,99.99503,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,7.0,China,China,y=a-b*EXP(-x/c),100.0,25.00,3.000,0.0,85.35959,87.39295,...,96.19202,98.60268,99.93366,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,7.0,Emerging Economies,EE,y=a-b*EXP(-x/c),100.0,70.00,3.900,0.0,75.69684,76.98511,...,97.02713,98.75328,99.66602,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,7.0,Indian Subcontinent,India,y=a-b*EXP(-x/c),100.0,83.00,3.100,0.0,44.42039,42.27425,...,62.03852,71.51287,76.67487,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,7.0,Africa South of Sahara,ASoS,y=a-b*EXP(-x/c),100.0,89.00,5.000,0.0,54.78793,51.61289,...,32.17887,35.16420,39.28033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,7.0,Rest of World,RoW-120,y=a-b*EXP(-x/c),100.0,70.00,4.900,0.0,56.55733,58.43544,...,72.32058,76.22867,80.12270,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
world.regions['region1']['population']

,1980,1985,1990,1995,2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
0,233,244,256,270,286,299,313,324,329,333,335,336,337,337,335

In [155]:
world.regions['region1']['SDG']

,1980,1985,1990,1995,2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
SDG,,,,,,,,,,,,,,,
1,0.70000,0.88135,0.70000,0.70000,0.70000,2.00000,2.00000,2.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.59649,2.56327,2.52348,2.51343,2.50000,2.50000,2.50000,2.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73.25479,74.37080,74.89043,75.62416,76.45869,77.16614,78.15951,78.88216,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13.29787,14.36827,14.92513,15.72942,15.72729,15.82104,16.32739,16.59766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.04330,1.04093,1.05392,1.06654,1.08264,1.09108,1.10513,1.10486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,98.65833,98.84817,99.19512,99.34227,99.57747,99.14818,99.16392,99.18994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,99.99726,99.99858,100.00000,100.00000,100.00000,100.00000,100.00000,100.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
world.regions['region1']['GDP']

,1980,1985,1990,1995,2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
0,27.351715,29.33509,33.99444,36.619197,42.372128,47.043068,49.062768,49.350465,49.742955,50.211717,50.734671,51.294687,51.878494,52.475859,53.078945